@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --primary-white: #ffffff;
    --primary-light-grey: #f4f4f4;
    --primary-grey: #ccd1d9;
    --primary-dark-grey: #666666;
    --primary-orange: #f9ab00;
    --primary-dark: rgb(52, 58, 64);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
    --primary-black: #000000;
    --primary-transparent-black: rgba(0, 0, 0, 0.7);
    --primary-green: green;
}

@media (max-width: 768px) {
    .tsParticules {
        display: none !important;
    }

    .main-info h1 {
        font-size: 1.7rem !important;
    }

    .typed-text {
        font-size: 1.3rem !important;
    }

    .navbar-brand {
        width: 7rem !important;
    }

    .experience .container {
        padding-left: 0;
    }

    .experience-wrapper::before {
        left: 0.5rem;
        margin-bottom: 1.875rem;
    }

    .timeline-block-right {
        float: none;
        width: 100%;
    }

    .timeline-block-left {
        float: none;
        direction: ltr;
        width: 100%;
    }
}

@media (max-width: 468px) {
    .img-profil {
        width: 10rem;
    }
}

body {
    font-family: "Oswald", sans-serif !important;
    min-height: 100% !important;
}

/** NAVBAR **/
nav {
    z-index: 2;
}

.logo {
    width: 4rem;
}

/** NAVBAR LINKS **/
nav a.nav-link {
    letter-spacing: 0.0375rem;
    cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a, .navbar-brand {
    color: var(--primary-white) !important;
}

.icon {
    background-color: white;
}

.navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.navbar-brand {
    max-width: 17.25rem;
    padding: 0 !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
    border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
    border-top: 0.1875rem solid var(--primary-orange);
}

/** Header **/
.header-wraper {
    position: relative;
    background-size: cover !important;
    background: url('img/wall-and-laptop-background.jpg') no-repeat center;
    height: 90vh;
}

.main-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Lato", sans-serif !important;
    z-index: 1;
}

.main-info h1 {
    color: var(--primary-orange);
    text-transform: uppercase;
}


/** Typed text **/
.typed-text {
    color: var(--primary-white);
    font-size: 2rem;
}

/** Header main button **/
.btn-main-offer {
    text-transform: uppercase;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    margin: 2rem;
}

/** Particles **/
.tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000; /*#232741;*/
    background-image: url("https://particles.js.org/images/spacex-logo-black-and-white.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 50% 50%;
}

/** ABOUT ME **/
.img-profil {
    width: 16rem;
    border: 0.25rem solid lightgray;
}

.about-heading {
    color: var(--primary-orange);
}

.about-heading > a {
    margin-right: 5rem;
}

.about-text {
    text-space: 1rem;
}

.photo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me {
    /*min-height: 100% !important;*/
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 83vh;
}

.social-network a {
    margin-right: 15px;
}

/** EXPERIENCE **/

.experience {
    padding: 0.7rem;
    font-family: "Lato", sans-serif !important;
}

.experience-title {
    font-family: "Oswald", sans-serif !important;
}

.experience-wrapper {
    position: relative;
    padding: 3.125rem 0;
    overflow: hidden;
}

.experience h1 {
    text-transform: uppercase;
    color: var(--primary-orange);
}

.experience-wrapper::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    margin-left: -0.0625rem;
    width: 0.125rem;
    height: 100%;
    background: var(--primary-grey);
    z-index: 1;
}

.timeline-block {
    width: calc(50% + 0.5rem);
    display: flex;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl;
}


.marker {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;;
    border: 0.3125rem solid var(--primary-dark);
    background: var(--primary-orange);
    margin-top: 0.625rem;
    z-index: 3;
}

.timeline-content {
    width: 95%;
    padding: 0 0.9375rem;
    color: var(--primary-dark-grey);
    direction: ltr;
}

.timeline-content h3 {
    margin-top: 0.3125rem;
    color: var(--primary-red);
    font-weight: 900;
}

/** FOOTER **/
.footer {
    background: var(--primary-black);
    color: var(--primary-dark-grey);
    display: flex;
    padding: 2rem;
    position: relative;
    bottom: 0;
    z-index: 2 !important;
    width: 100%;
}

.footer a {
    text-decoration: none;
    color: var(--primary-dark-grey);
}

.footer a:hover {
    text-decoration: none;
    color: var(--primary-orange);
    cursor: pointer;
}

.footer p {
    margin-bottom: 0;
}

.social-icon {
    color: var(--primary-white);
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-icon {
    margin-right: 15px;
}

.footer-git {
    margin-top: 15px;
}